[Unit]
Description=VNF Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/opt/run_container.sh
ExecStop=/usr/bin/docker rm -f vnf-container

[Install]
WantedBy=default.target

